
/* Put your custom styles here */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@font-face{
	font-family: 'FuturaHandwritten';
	font-style: normal;
	src: url('FuturaHandwritten.ttf') format('truetype');
}


body{
  background: #fff;
}

.hed{
  color: #ff5252;
  font-family: 'FuturaHandwritten';
  font-size: 2.5em;
  font-weight: 300;
}

.dek{
  color: rgb(0, 132, 137) !important;
  font-family: 'FuturaHandwritten';
}

a{
  color: #ff5252;
  font-family: 'FuturaHandwritten';
}

p{
  font-family: 'FuturaHandwritten';
}
